*{
    margin: 0;
    padding: 0;
}
body{
    background: rgba(182, 183, 184, 0.938);
    overflow-x: hidden;
}
button, input{
    outline: none;
}
button, input:focus{
    outline: none;
}
.title{
    font: 700 normal 24px/36px 'Poppins', sans-serif;
}
.title span{
    font-weight: 300;
}

@media (max-width: 768px) { 
    .App, #Home, .section-for-elements{
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;  
          width: 100%;
   }
 }
